$column-width: 100px;
$column-height: 100px;
$day-border-width: 1px;
$calendar-padding: 10px;
$column-count: 7;
$cell-size: 100px;
$gap: 1px;
$font-family-day-number: Arial, Helvetica, sans-serif;
$font-size-day-number: 30px;
$calendar-border-color: black;
$calendar-bg-color: #eee;
$calendar-bg-hover: #ffbfcb;
$calendar-hover-offset: 20px;
$month-length: 31;
$container-size: $column-width * $column-count;
$container-padding-size: $calendar-padding * ($column-count - 1);
$container-width: $container-size + $container-padding-size;
